@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HankenGrotesk';
    src: url('./../public/assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
}

body{
    font-family: 'HankenGrotesk', sans-serif;
}
